<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">À propos</div>
            <p class="paragraph-text justify-text">
				Étudiant en deuxième année de BTS SIO, je m'intéresse au domaine de l'informatique depuis tout petit et j'ai grandi dedans.
			</p>
			<p class="paragraph-text justify-text">
				Je m'intéresse plus particulièrement au développement logiciel, mais développe aussi mes compétences dans de nombreux autres domaines: développement web, développement de jeux, électronique (Raspberry Pi 4, soudure etc.), réseau. J'entretiens aussi des loisirs qui n'ont aucun lien avec ce monde, comme la chimie organique.
			</p>
			<p class="paragraph-text justify-text">
				Je ne suis pas attaché à un langage de programmation particulier, et j'aime en manipuler plusieurs pour étendre mes connaissances et avoir une expérience la plus vaste possible. Je suis capable aussi bien de développer avec des langages de haut niveau (Python, C#, Java etc.), que des langages de bas niveau (C/C++), ou même d'utiliser des langages de scripting (Lua).
			</p>
			<p class="paragraph-text justify-text">
				De façon plus vaste, quelques domaines où j'ai de l'expérience:
			</p>
			<ul class="paragraph-text justify-text">
				<li>Programmation procédurale & orientée objet</li>
				<li>Python</li>
				<li>C# - WinForms, Unity</li>
				<li>C++ - OpenGL</li>
				<li>Java - Android Studio, JavaFX</li>
				<li>PHP - MySQL, Symfony</li>
				<li>Lua - Roblox</li>
			</ul>
			<ul class="paragraph-text justify-text">
				<li>SQL</li>
				<li>Environnements Windows, Linux</li>
			</ul>
        </div>
    </section>
</div>
