<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projets</div>
            
                <div class="project-technologies">
					
					<a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">Tout</a>
					<a id="Python" class="semi-transparent-button with-border white-button" onclick="selected('python')">Python</a>
					<a id="csharp" class="semi-transparent-button with-border white-button" onclick="selected('csharp')">C#</a>
					<a id="cpp" class="semi-transparent-button with-border white-button" onclick="selected('cpp')">C++</a>
					<a id="java" class="semi-transparent-button with-border white-button" onclick="selected('java')">Java</a>
					<a id="php" class="semi-transparent-button with-border white-button" onclick="selected('php')">PHP</a>
					
					<a id="personal" class="semi-transparent-button with-border white-button" onclick="selected('personal')">Personnel</a>
					<a id="bts" class="semi-transparent-button with-border white-button" onclick="selected('bts')">BTS</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>