<div class="section-wrapper">
    <section class="section veille" id="veille">
        <div>
            <div class="section-heading" id="chat-text">Veille Technologique</div>
            <p class="paragraph-text justify-text">
                Ma veille technologique s'intéresse de façon générale à la programmation de bas niveau: C, C++, Assembleur
            </p>
            <p class="paragraph-text justify-text">
                Plus précisément, je m'intéresse à des domaines axés sur la cybersécurité: détection de nouveaux malwares, reverse engineering, analyse de code, cryptographie ...
            </p>
            
            <p class="paragraph-text justify-text">
                Quelques flux RSS intéressants: 
            </p>
            <ul>
                <li><a class="paragraph-text justify-text" href="https://cve.mitre.org/cve/data_feeds.html">Dernières CVE découvertes</a></li>
                <li><a class="paragraph-text justify-text" href="https://www.cisa.gov/uscert/ncas/alerts.xml">CISA.gov</a></li>
                <li><a class="paragraph-text justify-text" href="https://www.ncsc.gov.uk/api/1/services/v1/report-rss-feed.xml">NCSC.gov.uk</a></li>
                <li><a class="paragraph-text justify-text" href="https://www.vmware.com/security/advisories.xml">VMware</a></li>
            </ul>
            
            <p class="paragraph-text justify-text">
                D'autres sources intéressantes
            </p>
            <ul>
                <li><a class="paragraph-text justify-text" href="https://reddit.com/r/ReverseEngineering">r/ReverseEngineering (Reddit)</a></li>
                <li><a class="paragraph-text justify-text" href="https://reddit.com/r/cpp">r/cpp (Reddit - Programmation générale)</a></li>
                <li><a class="paragraph-text justify-text" href="https://reddit.com/r/GraphicsProgramming">r/GraphicsProgramming (Reddit - Programmation graphique)</a></li>
            </ul>
            <br>
            
            <p class="paragraph-text center-align">Compétences remplies:</p>
                <ul>
                    <li><p class="paragraph-text">Organiser son développement professionel:</p></li>
                    <ul>
                        <li><p class="paragraph-text">Mettre en place son environnement d'apprentissage personnel</p></li>
                        <li><p class="paragraph-text">Mettre en oeuvre des outils et stratégies de veille informationnelle</p></li>
                        <li><p class="paragraph-text">Développer son projet professionel</p></li>
                    </ul>
                </ul>
        </div>
    </section>
</div>